h1 {color: blue; background-color: lightgray;}
p {color: yellow; background-color: black; width: 200px;}
#middle {color: white;}
.text {color: red;}
span {color: white; background-color: black; width: 200px}
#w12 {color: lightcyan; background-color: black; text-decoration: underline;}